* {
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#light {
  background-color: white;
}

#dark {
  background-color: #353240;
}
#dark h1 {
  color: white;
}

#dark h2 {
  color: white;
}

#dark p {
  color: white;
}

#dark .moon {
  color: yellow;
}

#dark .color {
  background-color: #353240;
}

#dark input {
  background-color: #9f97bf3a;
  color: white;
}

#dark .header {
  background-color: #353240;
  color: white;
}

#dark .header-top {
  background-color: #211f2b;
}

#dark .footer {
  background-color: #211f2b;
}

#dark .hero h1, #dark .hero h2 {
  color: black;
}

@media (min-width: 600px) {
  #dark .color {
    background-color: transparent;
  }
}
